<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Productdetail</servlet-name>
        <servlet-class>client.controller.Productdetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartProduct</servlet-name>
        <servlet-class>client.controller.CartProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartDetail</servlet-name>
        <servlet-class>client.controller.CartDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCart</servlet-name>
        <servlet-class>client.controller.DeleteCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Order</servlet-name>
        <servlet-class>client.controller.Order</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OderDetail</servlet-name>
        <servlet-class>client.controller.OderDetail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Productdetail</servlet-name>
        <url-pattern>/Productdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartProduct</servlet-name>
        <url-pattern>/cartProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartDetail</servlet-name>
        <url-pattern>/cartDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCart</servlet-name>
        <url-pattern>/deleteCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Order</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OderDetail</servlet-name>
        <url-pattern>/orderDetail</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>filter</welcome-file>
    </welcome-file-list>
</web-app>
